@import '../../variables.scss';

.actionsButtons {
  display: flex;
  justify-content: flex-end;

  .addSection {
    display: flex;
    flex-direction: column;
    position: relative;

    .dropdownWrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: $ash;
      width: 100%;
      top: 35px;

      .dropdown {
        background: none;
        border: none;
        border-bottom: 1px solid #c2c9cc;
        padding: 8px 10px;
        font-size: 0.8em;
        text-transform: capitalize;

        &:hover {
          background-color: #d3dbdf;
        }
        
        &:last-child {
          border: none;
        }
        
        &:disabled {
          cursor: inherit;
          background-color: inherit;
        }
      }
    }
  }

  .add,
  .remove {
    color: white;
    padding: 0 12px;
    font-weight: 600;
    border: none;
    font-size: 0.9em;
    height: 35px;
  }

  .add {
    background-color: $lighter;
    &:hover {
      background-color: $main;
    }
  }

  .remove {
    background-color: $accent;
    margin-left: 10px;
    &:hover {
      background-color: #ce3d24;
    }
  }
}
