@import '../../variables.scss';

.notFound {
  width: 50%;
  border: 2px solid $lighter;
  box-sizing: border-box;
  margin: 35px auto;
  background-color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: bold;
    margin: 0;
  }

  .backButton {
    background: none;
    border: none;
    font-size: 1em;
    color: $main;
    margin-right: 10px;
    align-self: flex-start;

    &:hover {
      font-weight: 600;
    }
  }
}
