@import '../../variables.scss';

.viewChanger {
  align-self: flex-end;
  margin: 15px 5%;

  button {
    border: none;
    color: white;
    background-color: $lighter;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 1em;

    &:hover {
      background-color: $accent;
    }
  }

  .selected {
    background-color: $main;
  }
}
