@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import './variables.scss';

.App {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $text;
  background-color: $ash;
  min-height: 100vh;
}

h1, h2, h3 {
  font-weight: 400;
  color: $lighter;
}

button {
  cursor: pointer;
}